---
title: Content design ways of working
weight: 159
---

<%= partial "ga" %>

<a href="/ways-of-working/" class="govuk-back-link">Back to ways of working</a>

# <%= current_page.data.title %>

## Content audit

You should conduct content audits on a regular basis to ensure your content remains relevant and up to date. You can use this <%= external_link("https://docs.google.com/spreadsheets/d/1tagSBXsjABXTQJTXH2nOel6lSj6gFtAKAGWjbu7ab4A/edit?usp=sharing", "example audit (opens in new tab)")%> to help.

To make sure that you do not create confusion for users or duplicate existing content you should always conduct an audit ahead of developing new content or at the point when you identify an upcoming change, for example a policy update or new financial details.

## Content strategy
A content strategy should sit alongside your design history, service specific style guide and align to your product vision. It should focus on the users' need for content in the service and should provide clear details on:

- content development process
- principles for content writing
- content goals
- user needs and outcomes
- KPIs and metrics

The DfE has a <%= external_link("https://dfe.service-now.com/serviceportal", "content strategy (opens in new tab)")%> that applies to all content the department publishes on GOV.UK and should also be applied to services and other digital products.

## Quality checks

You should have an agreed and documented quality checking process. 

Your process should be appropriate for your service and take into account different levels of changes, for example correcting a typing error vs updating a policy message. 

Include how and when you will do things like: 

- 2i review (second pair of eyes) and peer reviews
- fact checking
- policy sign-off
- communicate the update with users

You should conduct your final quality checks of the content on a preview, displaying as it would appear once published. 

### Example workflow

The digital communications team (often referred to as DCT or digi comms) is an internal team that manage DfE’s content on GOV.UK. 

You can use their clearance and 2i checklist to help develop your own. The following links will open in a new tab: 

* <%= external_link("https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-publish-gov-uk.aspx#get-clearance-to-publish-content", "DCT’s GOV.UK clearance process")%>

* <%= external_link("https://docs.google.com/document/d/1cVasGvkhnUTCfcKXUmHVOzIaGJf7HY8s/edit?rtpof=true&sd=true", "DCT’s 2i checklist")%>

They are responsible for managing and publishing DfE content on GOV.UK. You will need to contact them to get a Start page for a service or a campaign sites. 

You can get advice or make a content request through the <%= external_link("https://dfe.service-now.com/serviceportal", "DfE service portal (opens in new tab)")%>.

## Monitoring

To deliver continuous improvement we:

- monitor the performance of our content and services, this forms part of <%= external_link("https://www.gov.uk/service-manual/agile-delivery/running-your-service-in-a-sustainable-way", "maintaining a sustainable service (opens in new tab)")%>
- <%= external_link("https://www.gov.uk/service-manual/measuring-success/how-to-set-performance-metrics-for-your-service", "set key performance indicators (KPIs) (opens in new tab)")%> and measure our content or service against those indicators on a regular basis
- have a plan in place for how we will develop and test content through its life cycle
- use Google Analytics, set up dashboards to measure against KPIs and set regular reports
- build in ways for users to give feedback
- identify ways to trigger alerts to issues with content and how to address them
  

