---
title: Content design
weight: 1000
---

<%= partial "ga" %>


<div class="dfe-hero">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-font-size-48">Content design</h1>
         <p class="govuk-body-l">Content design makes things easier for people to understand and use. Using data, research and testing to understand what people need and then design content to meet those needs. </p>
      </div>
      <div class="govuk-grid-column-one-third standards-icon">
      </div>
     
   </div>
</div>


## How we work

As content designers, we focus on these standards: 

1. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs.html" target="_blank">understand users and their needs</a>
2. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/2-solve-a-whole-problem.html" target="_blank">solve a whole problem for users</a>
3. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/2-solve-a-whole-problem.html" target="_blank">provide a joined up experience across all channels</a>
4. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/4-make-the-service-simple-to-use.html" target="_blank">make the service simple to use</a>
5. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service.html" target="_blank">make sure everyone can use the service</a>
8. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/8-iterate-and-improve-frequently.html" target="_blank">iterate and improve frequently</a>
10. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/10-define-success-publish-performance-data.html" target="_blank">define what success looks like and publish performance data</a> 
11. <a href="https://apply-the-service-standard.education.gov.uk/service-standard/11-choose-the-right-tools-and-technology.html" target="_blank">choose the right tools and technology</a>

We work closely with the other <%= external_link("https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework#user-centred-design-job-family", "user-centred design (UCD) professionals")%>  on our team, including user researchers, service and interaction designers, along with business analysts and developers to meet these Standards.

## How we meet the Service Standard

As a content design profession, we agree to:

- evidence and document how we make design decisions <%= external_link("https://www.gov.uk/guidance/content-design/research-and-evidence", "(tools and evidence to back up content design decisions) ")%>
- ensure content is accessible <%= external_link("https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction", "(making your service accessible)")%>
- use the appropriate style and brand guide for the service or website 
- have a process in place to preview prior to publishing, such as a 2i, quality check and sign off content
- work to a strategy, and publish <%= external_link("https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition", "a proposition statement - example for GOV.UK")%> where appropriate
- test with users through user research and by building prototypes
- work in collaboration with our user-centred design and policy colleagues to understand problems and create solutions
- always develop content that meets user needs
- set performance measures and monitor content against these measures <%= external_link("https://www.gov.uk/service-manual/measuring-success", "(measuring success)")%> 
- have a plan in place to continuously iterate and improve
- work to the <%= external_link("https://www.gov.uk/service-manual", "service manual standards")%>
- work to the <%= external_link("https://www.gov.uk/government/publications/govuk-proposition", "GOV.UK proposition")%>, where applicable 


## We follow government guidance 

As a starting point, we use:

- <%= external_link("https://www.gov.uk/government/organisations/government-digital-service/about", "Government Digital Service")%> (GDS) build platforms, products and services for government
- <%= external_link("https://www.gov.uk/government/organisations/central-digital-and-data-office/about", "Central Digital & Data Office")%> manage standards and service assessments for government. This includes the digital, data and technology function (DDaT) framework
- <%= external_link("https://www.gov.uk/guidance/style-guide", "GDS style guide")%>  
- <%= external_link("https://www.gov.uk/topic/government-digital-guidance/content-publishing", "GDS content and publishing guidance")%>  
- <%= external_link("https://www.gov.uk/service-manual", "GDS Service Manual")%>  


## We also follow DfE guidance

We use DfE specific guidance when considering things like tone of voice, specific styles and how to publish in DfE.

<%= external_link("https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications.aspx", "How to communicate")%> is a section of our intranet that explains how we communicate at DfE, it includes:

- working with strategic and digital communications teams
- brand guidelines, including guidance on images and videos and document templates
- DfE style guide
- how to publish on GOV.UK
- how to produce content for different channels, such as our blogs or presentation for internal and external use
- <%= external_link("https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-make-your-content-accessible.aspx", "make your content accessible")%>

We have a <%= external_link("https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-dfe-govuk-content-strategy.aspx", "DfE content strategy")%> template, which should form the basis of individual product and service strategies.



