---
title: 3. Follow Gestalt laws
weight: 103

---

<%= partial "ga" %>

<a href="/principles/" class="govuk-back-link">Back to principles</a>

# <%= current_page.data.title %>

Gestalt laws are principles which relate to how people naturally perceive visual stimuli, group things together and simplify complex objects.

## Gestalt laws to consider for good practice

- <%= external_link("https://lawsofux.com/en/law-of-proximity/","Law of proximity")%> 
- <%= external_link("https://lawsofux.com/en/law-of-similarity/","Law of similarity")%> 

- <%= external_link("https://lawsofux.com/en/law-of-uniform-connectedness/","Laws of uniform connectedness")%> 

Elements that are visually connected are perceived as more related than elements with no connection. hese principles are organized into five categories: Proximity, Similarity, Continuity, Closure, and Connectedness.


